body {
    background: #f0f0f0;
    min-width: 1200px;
    margin: 0 auto;

    font-family: 'Roboto', 'Arial', sans-serif;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.main-container {
    text-align: center;
    display: flex;
}

.tools-list {
    width: 30%;
    min-width: 300px;
    padding: 5px;
    padding-top: 15px;
}

.workflow {
    font-size: 0;
}

.right-column {
    padding: 10px;
}
.kama-btn {
    border: none;
    box-shadow: none;
    width: 50px;
    height: 25px;
    outline: none;
    background: #9e7b43;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.kama-btn:hover {
    background: #b89543;
}

.kama-btn:active {
    background: #876443;
}

.map {
    height: 100vh;
}

.tab {
    height: 500px;
    overflow: auto;
}

.prototype {
    display: inline-block;
}
.jeton img,
.prototype img {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.circle img {
    border-radius: 50%;
    border: 8px solid black;
}

#menu {
    height: 60px;
}

#titlebarDialog {
    height: 28px;
}

#grille {
    position: absolute;
    width: 1116px;
    left: 274px;
    top: 610px;
}

#bombe_tooltip {
    position: absolute;
    top: 0px;
    right: 0px;
}

.loading {
    display: none;
    font-size: 32px;
}