body {
    background: #f0f0f0;
    /*min-width: 1200px;*/
    /*margin: 0 auto;*/

    font-family: 'Roboto', 'Arial', sans-serif;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

/*.ui-tabs .ui-tabs-nav {*/
/*white-space: nowrap;*/
/*overflow-x: auto*/
/*}*/

/*.ui-tabs .ui-tabs-nav li {*/
/*float: none;*/
/*display: inline-block;*/
/*}*/

.ui-tabs .ui-tabs-panel {
    background-color: #f0f0f0;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.deck {

}

.tools-list {
    /*width: 30%;*/
    /*min-width: 310px;*/
    /*max-width: 425px;*/
    padding: 5px;
    padding-top: 15px;
    position: relative;
}

.menu {
    margin: 10px 0;
}

.map-workflow {
    font-size: 0;
    background: url("../img/maps/bonta1.jpg") no-repeat;
    background-size: 900px 900px;
    height: 900px;
    min-width: 900px;
}

.workflow {

}
.teams {
    display: none;
    height: 500px;
    outline: 1px solid red;
}

.right-column {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.kamas-counter {
    margin-bottom: 20px;
}

.kama-btn {
    border: none;
    box-shadow: none;
    width: 50px;
    height: 25px;
    outline: none;
    background: #9e7b43;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.kama-btn:hover {
    background: #b89543;
}

.kama-btn:active {
    background: #876443;
}

.ui-tabs .ui-tabs-panel {
    padding: 10px 5px;
}

.tab {
    /*height: 500px;*/
    height: 450px;
    padding: 0;
    overflow: auto;
}

.prototype {
    display: inline-block;
    font-size: 0;
}

.jeton img,
.prototype img {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.circle img {
    border-radius: 50%;
    border: 8px solid blue;
}

.yellow img {
    border-color: rgb(214, 182, 96);
}

.white img {
    border-color: white;
}

.black img {
    border-color: black;
}

#titlebarDialog {
    height: 28px;
}

#grille {
    position: absolute;
    width: 1116px;
    left: 274px;
    top: 610px;
}

#bombe_tooltip {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Стилизация инструментов */
.kamas-counter {
    margin-bottom: 20px;
}

.kama-btn {
    border: none;
    box-shadow: none;
    width: 50px;
    height: 25px;
    outline: none;
    background: #9e7b43;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.kama-btn:hover {
    background: #b89543;
}

.kama-btn:active {
    background: #876443;
}

.los {
    margin-top: 39px;
}

.toolbox {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.tool-btn {
    /*display: inline-block;*/
    width: 30px;
    height: 30px;
    font-size: 0;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background-color: #009926;
    border-radius: 3px;
    margin: 0 3px;
    outline: none;
}

.tool-btn:hover {
    background-color: #fff;
}

.tool-btn:active {
    background-color: #f0f0f0;
}

.tool-btn-view {
    background: url("../img/icons/toe.png");
}

.tool-btn-distance {
    background: url("../img/icons/ruler.png");
}

.tool-btn-clean {
    background: url("../img/icons/eraser.png");
}

.tool-btn-trees {
    background: url("../img/icons/tree.png");
}

.tool-btn-help {
    background: url("../img/icons/question.png");
}

.help-popup {
    display: none;
    background: #fff;
    padding: 10px;
    position: fixed;
    width: 500px;
    height: 300px;
    outline: 1px solid red;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    z-index: 2;
    overflow: auto;
}

.show {
    display: block;
}

.popup-background::before {
    content: '';
    background-color: rgba(85, 85, 85, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/*.prototype.krosmaster:hover::after {*/
    /*content: '';*/
    /*background-color: rgba(255, 255, 255, 0.4);*/
    /*position: absolute;*/
    /*width: 290px;*/
    /*height: 400px;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*background-position: 50% 50%;*/
    /*left: 110%;*/
    /*top: -60px;*/
    /*z-index: 100000;*/
/*}*/

/*.prototype.krosmaster-dev:hover::after {*/
    /*height: 40vh;*/
    /*top: calc(40vh + 120px);*/
    /*left: -15px;*/
/*}*/

/*.left-top-corner:hover::after {*/
    /*left: 100px;*/
    /*top: 50px;*/
/*}*/

/*.right-top-corner:hover::after {*/
    /*left: -300px;*/
    /*top: 50px;*/
/*}*/

/*.right-bottom-corner:hover::after {*/
    /*left: -300px;*/
    /*top: -350px;*/
/*}*/

/*.left-bottom-corner:hover::after {*/
    /*left: 100px;*/
    /*top: -350px;*/
/*}*/

.krosmaster-num {
    display: inline-block;
    position: absolute;
    bottom: -17px;
    left: 25px;
    font-size: 30px;
    font-weight: bolder;
    background-color: white;
    color: black;
    padding: 0 5px;
    line-height: 30px;
    border-radius: 5px;
}
.ui-tabs.ui-tabs-vertical {
    display: flex;
    width: 500px;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    background: #CCC;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    border-left: 1px solid gray;
    border-radius: 0;
}

.deck{
    display:flex;
    flex-wrap: wrap;
}
.card img{
    max-width: 250px;
    max-height: 100%;
}