<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Редактор карт для Krosmaster Arena</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="css/style.min.css">


    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
</head>

<body>
<div class="main-container">
    <aside class="tools-list">
        <div class="menu">
            <select name="choice_map" id="choice_map">
                <option value="bonta1" selected>Бонта 1</option>
                <option value="bonta1_tapped">Бонта 1 (повернутая)</option>
                <option value="bonta2">Бонта 2</option>
                <option value="bonta2_tapped">Бонта 2 (повернутая)</option>
                <option value="fog">Туман</option>
                <option value="fog_tapped">Туман (повернутая)</option>
                <option value="pit">Пит</option>
                <option value="pit_tapped">Пит (повернутая)</option>
                <option value="elemental">Элементаль</option>
                <option value="elemental_tapped">Элементаль (повернутая)</option>
                <option value="frigost1">Фригост 1</option>
                <option value="frigost1_tapped">Фригост 1 (повернутая)</option>
                <option value="frigost2">Фригост 2</option>
                <option value="frigost2_tapped">Фригост 2 (повернутая)</option>
                <option value="piwate">Пиратская 1</option>
                <option value="piwate_tapped">Пиратская 1 (повернутая)</option>
                <option value="piwate2">Пиратская 2</option>
                <option value="piwate2_tapped">Пиратская 2 (повернутая)</option>
                <option value="empty">Пустое поле</option>
            </select>

           <!-- <button id="bouton_enreg">Сохранить карту</button> -->
        </div>
        <div class="toolbox">
            <button class="tool-btn tool-btn-view js-enable-los" title="Сменить вид">Вкл/выкл ЛОС</button>
            <button class="tool-btn tool-btn-distance js-toggle-distance" title="Показать/скрыть расстояния">Показать/скрыть расстояния</button>
            <button class="tool-btn tool-btn-clean js-clear-los" title="Очистить поле">Очистить поле</button>
            <button class="tool-btn tool-btn-trees js-load-map" title="Загрузить деревья">Загрузить деревья</button>
            <button class="tool-btn tool-btn-help js-enable-help" title="Помощь">Помощь</button>
        </div>

        <div id="tabs" class="tabs">
            <ul>
                <li><a href="#tabs-1" class="js-tab"  data-level="1" >Ур. 1</a></li>
                <li><a href="#tabs-2" class="js-tab" data-level="2">Ур. 2</a></li>
                <li><a href="#tabs-3" class="js-tab" data-level="3">Ур. 3</a></li>
                <li><a href="#tabs-4" class="js-tab" data-level="4">Ур. 4</a></li>
                <li><a href="#tabs-5" class="js-tab" data-level="5">Ур. 5</a></li>
                <li><a href="#tabs-6" class="js-tab" data-level="6">Ур. 6</a></li>
                <li><a href="#tabs-7" class="js-tab" data-level="eternal">Вечность*</a></li>
                <li><a href="#tabs-8" class="js-tab" data-level="ban">Бан-Лист*</a></li>
                <li><a href="#tabs-9">Токены</a></li>
               <!-- <li><a href="#tabs-8">Диаграммы</a></li>-->
                <li><a href="#tabs-10">Клетки и декор</a></li>
                <!--  <li><a href="#tabs-12">Цифры</a></li>-->
              </ul>
            <div id="tabs-1" class="tab"></div>
            <div id="tabs-2" class="tab"></div>
            <div id="tabs-3" class="tab"></div>
            <div id="tabs-4" class="tab"></div>
            <div id="tabs-5" class="tab"></div>
            <div id="tabs-6" class="tab"></div>
            <div id="tabs-7" class="tab"></div>
            <div id="tabs-8" class="tab"></div>
            <div id="tabs-9" class="tab">
                <span class='prototype circle'><img src='img/summons/water_bomb.png' alt='water_bomb'></span>
                <span class='prototype circle'><img src='img/summons/firebomb.png' alt='firebomb'></span>
                <span class='prototype circle'><img src='img/summons/grenado.png' alt='grenado'></span>
                <span class='prototype circle'><img src='img/summons/gobball.png' alt='gobball'></span>
                <span class='prototype circle'><img src='img/summons/lifesaver.png' alt='lifesaver'></span>
                <span class='prototype circle'><img src='img/summons/crackstone.png' alt='crackstone'></span>
                <span class='prototype circle'><img src='img/summons/tofu.png' alt='tofu'></span>
                <span class='prototype circle'><img src='img/summons/wabbit.png' alt='wabbit'></span>
                <span class='prototype circle'><img src='img/summons/pink_dragoone.png' alt='pink_dragoone'></span>
                <span class='prototype circle'><img src='img/summons/harpooner.png' alt='harpooner'></span>
                <span class='prototype circle'><img src='img/summons/tacturret.png' alt='tacturret'></span>
                <span class='prototype circle'><img src='img/summons/bubotron.png' alt='bubotron'></span>
                <span class='prototype circle'><img src='img/summons/living_shovel.png' alt='living_shovel'></span>
                <span class='prototype circle'><img src='img/summons/lethal_trap.png' alt='lethal_trap'></span>
                <span class='prototype circle'><img src='img/summons/tricky_trap.png' alt='tricky_trap'></span>
                <span class='prototype circle'><img src='img/summons/prespic.png' alt='prespic'></span>
                <span class='prototype circle'><img src='img/summons/block_doll.png' alt='block_doll'></span>
                <span class='prototype circle'><img src='img/summons/sacrificial_doll.png' alt='sacrificial_doll'></span>
                <span class='prototype circle'><img src='img/summons/madoll.png' alt='madoll'></span>
                <span class='prototype circle'><img src='img/summons/lost_doll.png' alt='lost_doll'></span>
                <span class='prototype circle'><img src='img/summons/immature_dreggon_1.png' alt='immature_dreggon_1'></span>
                <span class='prototype circle'><img src='img/summons/immature_dreggon_2.png' alt='immature_dreggon_2'></span>
                <span class='prototype circle'><img src='img/summons/immature_dreggon_3.png' alt='immature_dreggon_3'></span>
                <span class='prototype circle'><img src='img/summons/immature_dreggon_4.png' alt='immature_dreggon_4'></span>
                <span class='prototype circle'><img src='img/summons/katars_offspring.png' alt='katars_offspring.png'></span>
                <span class='prototype circle'><img src='img/summons/crobak.png' alt='crobak'></span>
                <span class='prototype circle'><img src='img/summons/kokonut.png' alt='kokonut'></span>
                <span class='prototype circle'><img src='img/summons/ghoul.png' alt='ghoul'></span>
                <span class='prototype circle'><img src='img/summons/terrabomb.png' alt='terrabomb'></span>
                <span class='prototype circle'><img src='img/summons/tombstone.png' alt='tombstone'></span>
                <span class='prototype circle'><img src='img/summons/fleeflee.png' alt='fleeflee'></span>
                <span class='prototype circle'><img src='img/summons/pink_fleeflee.png' alt='pink_fleeflee'></span>
                <span class='prototype circle'><img src='img/summons/donatella_atooin.png' alt='donatella_atooin'></span>
                <span class='prototype circle'><img src='img/summons/michelangela_atooin.png' alt='michelangela_atooin'></span>
                <span class='prototype circle'><img src='img/summons/leonardawa_atooin.png' alt='leonardawa_atooin'></span>
                <span class='prototype circle'><img src='img/summons/raphaela_atooin.png' alt='raphaela_atooin'></span>
            </div>
            <div id="tabs-10" class="tab">
                <span class='prototype kit'><img src='img/pieces/tuile/herbe1.png' alt='piece_herbe1'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/herbe2.png' alt='piece_herbe2'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/herbe3.png' alt='piece_herbe3'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/herbe4.png' alt='piece_herbe4'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/herbe5.png' alt='piece_herbe5'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/pierre.png' alt='piece_pierre'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/plaque.png' alt='piece_plaque'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/pierre2.png' alt='piece_pierre2'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/pierre3.png' alt='piece_pierre3'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/plaque2.png' alt='piece_plaque2'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/plaque3.png' alt='piece_plaque3'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/herbe-pierre.png' alt='piece_herbepierre'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/herbe-pierre3.png' alt='piece_herbepierre3'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (1).png' alt='tuile (1)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (2).png' alt='tuile (2)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (3).png' alt='tuile (3)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (4).png' alt='tuile (4)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (6).png' alt='tuile (6)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (7).png' alt='tuile (7)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (8).png' alt='tuile (8)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (9).png' alt='tuile (9)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (10).png' alt='tuile (10)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (11).png' alt='tuile (11)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (12).png' alt='tuile (12)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (13).png' alt='tuile (13)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (14).png' alt='tuile (14)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (15).png' alt='tuile (15)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (16).png' alt='tuile (16)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (17).png' alt='tuile (17)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (18).png' alt='tuile (18)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (19).png' alt='tuile (19)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (20).png' alt='tuile (20)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (21).png' alt='tuile (21)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (22).png' alt='tuile (22)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (23).png' alt='tuile (23)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (24).png' alt='tuile (24)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (25).png' alt='tuile (25)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (26).png' alt='tuile (26)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (27).png' alt='tuile (27)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (28).png' alt='tuile (28)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (29).png' alt='tuile (29)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (30).png' alt='tuile (30)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (31).png' alt='tuile (31)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (32).png' alt='tuile (32)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (33).png' alt='tuile (33)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (34).png' alt='tuile (34)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (35).png' alt='tuile (35)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (36).png' alt='tuile (36)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (37).png' alt='tuile (37)'></span>
                <span class='prototype kit'><img src='img/pieces/tuile/tuile (38).png' alt='tuile (38)'></span>
                <span class='prototype kit'><img src='img/pieces/arbre.png' alt='piece_arbre'></span>
                <span class='prototype kit'><img src='img/pieces/buisson.png' alt='piece_buisson'></span>
                <span class='prototype kit'><img src='img/pieces/caisse.png' alt='piece_caisse'></span>
                <span class='prototype kit'><img src='img/pieces/depart.png' alt='piece_depart'></span>
                <span class='prototype kit'><img src='img/pieces/depart (1).png' alt='piece_depart1'></span>
                <span class='prototype kit'><img src='img/pieces/depart (2).png' alt='piece_depart2'></span>
                <span class='prototype kit'><img src='img/pieces/depart (3).png' alt='piece_depart3'></span>
                <span class='prototype kit'><img src='img/pieces/depart (4).png' alt='piece_depart4'></span>
                <span class='prototype kit'><img src='img/pieces/RD.png' alt='piece_rd'></span>
                <span class='prototype kit'><img src='img/pieces/1kama.png' alt='piece_1kama'></span>
                <span class='prototype kit'><img src='img/pieces/2kamas.png' alt='piece_2kamas'></span>
                <span class='prototype kit'><img src='img/pieces/3kamas.png' alt='piece_3kamas'></span>
                <span class='prototype kit'><img src='img/pieces/fleur.png' alt='piece_fleur'></span>
                <span class='prototype kit'><img src='img/pieces/fleurs.png' alt='piece_fleurs'></span>
                <span class='prototype kit'><img src='img/pieces/fleche.png' alt='piece_fleche'></span>
                <span class='prototype kit'><img src='img/pieces/fleche cassee.png' alt='piece_flechecassee'></span>
                <span class='prototype kit'><img src='img/pieces/armes.png' alt='piece_armes'></span>
                <span class='prototype kit'><img src='img/pieces/rocher.png' alt='piece_rocher'></span>
            </div>
        <!-- <div id="tabs-12" class="tab">
             <span class='prototype'><img src='img/digits/0.png' alt='num_0'></span>
             <span class='prototype'><img src='img/digits/1.png' alt='num_1'></span>
             <span class='prototype'><img src='img/digits/2.png' alt='num_2'></span>
             <span class='prototype'><img src='img/digits/3.png' alt='num_3'></span>
             <span class='prototype'><img src='img/digits/4.png' alt='num_4'></span>
             <span class='prototype'><img src='img/digits/5.png' alt='num_5'></span>
             <span class='prototype'><img src='img/digits/6.png' alt='num_6'></span>
             <span class='prototype'><img src='img/digits/7.png' alt='num_7'></span>
             <span class='prototype'><img src='img/digits/8.png' alt='num_8'></span>
             <span class='prototype'><img src='img/digits/9.png' alt='num_9'></span>
             <span class='prototype'><img src='img/digits/10.png' alt='num_10'></span>
             <span class='prototype'><img src='img/digits/11.png' alt='num_11'></span>
             <span class='prototype'><img src='img/digits/12.png' alt='num_12'></span>
             <span class='prototype'><img src='img/digits/13.png' alt='num_13'></span>
             <span class='prototype'><img src='img/digits/14.png' alt='num_14'></span>
             <span class='prototype'><img src='img/digits/15.png' alt='num_15'></span>
             <span class='prototype'><img src='img/digits/16.png' alt='num_16'></span>
             <span class='prototype'><img src='img/digits/17.png' alt='num_17'></span>
             <span class='prototype'><img src='img/digits/18.png' alt='num_18'></span>
             <span class='prototype'><img src='img/digits/19.png' alt='num_19'></span>
         </div>-->

     </div>
     <div class="kamas-counter">
         <p>Камочек ровно: <span class="js-kamas-counter counter">0</span></p>
         <button class="js-kamas-button js-kamas-plus kama-btn">+</button>
         <button class="js-kamas-button kama-btn">-</button>
     </div>
 </aside>
 <section class="workflow">
     <canvas class="los" id="los"></canvas>
 </section>
 <!--
 <aside class="right-column">
     <div class="kamas-counter">
         <p>Камочек ровно: <span class="js-kamas-counter counter">0</span></p>
         <button class="js-kamas-button js-kamas-plus kama-btn">+</button>
         <button class="js-kamas-button kama-btn">-</button>
     </div>
     <div class="los-tools">
         <button class="los-btn js-enable-los">Вкл/выкл ЛОС</button>
         <button class="los-btn js-toggle-distance">Показать/скрыть расстояния</button>
         <button class="los-btn js-clear-los">Очистить поле</button>
         <button class="los-btn js-load-map">Загрузить деревья</button>
     </div>
     <div class="help">
         <button class="help-btn js-enable-help">Помощь</button>
     </div>
 </aside> -->
    <canvas id="createur" style="border:2px solid black;" width="72" height="72"></canvas>
    <canvas id="canvasKit" style="border:2px solid black;" width="93" height="93"></canvas>
    <canvas id="canvas" style="border:2px solid black;" width="1196" height="1196"></canvas>
    <!--
        <div id="dialog_enreg" title="Параметры сохранения">
            <label>Размер изображения:
                <input type="number" name="Largeur" id="qualite" value=800 size=4></label>
            <label>Имя изображения:
                <input type="text" name="Nom" id="nomImage" value="Моя карта" size=16></label>
            <label>Симметрия относительно центра:
                <input type="checkbox" name="SymC" id="symC"></label>
            <div id="bouton_valid">Сохранить</div>
        </div>
    </div>
    -->
    <div class="help-popup">
        <h2>Помощь</h2>
        <div class="question">Управление</div>
        <div class="answer">
            Для работы с картой используются кнопки инструментов, расположенные над панелью кросмастеров.<br>
            По умолчанию ЛОС отключен.
            Камера автоматически устанавливается под первого выставленного кросмастера.
            <p>Расширенные возможности работы с ЛОС</p>
            <ul>
                <li><b>Двойной клик по жетону</b> - устанавливает камеру в эту клетку.</li>
                <li><b>SHIFT + Двойной клик по жетону</b> - устанавливает дерево в эту клетку </li>
                <li><b>Правый клик по жетону</b> - удаляет жетон и дерево под ним</li>
            </ul>
        </div>
        <div class="question">Поддержка</div>
        <div class="answer">
            <p>Сделано специально для <a href="https://vk.com/kmarussia">Krosmaster Russia</a></p>
            <a href="https://github.com/4err/krosmaster-map-editor">Репозиторий проекта на GitHub</a><br>
            <a href="https://github.com/4err/krosmaster-map-editor/blob/master/changelog.md">ChangeLog</a><br>
            Пожелания и ошибки лучше писать в <a href="https://github.com/4err/krosmaster-map-editor/issues">багтрекер на GitHub</a><br>
            Модуль ЛОСа взят и доработан с <a href="http://krosfinder.com/">Krosfinder</a><br>
            Жетоны и идея карты взяты с <a href="http://big-bad.forumactif.org/h4-big-bad-s-taktikor">Big bad taktikor</a>

        </div>
    </div>

    <script src="js/script.min.js"></script>


<script type="text/template" id="tab_template">
    <%
        var styles = '';
        for (var val in data) {
            var print = false;
            var title= data[val]['name'].toLowerCase().replace(/\s/ig, '_');
            if ((level == 'eternal') && (data[val]["edition"] == 'Eternal 1')) {
                title=title.replace(/_eternal_1/ig, '');
                print = true;
            } else {
                if ((data[val]["edition"] !== 'Eternal 1') && (data[val]["edition"] !== 'Season 1')) {
                    if (level=='ban' && data[val]["status"]=='ban') {print = true;}
                    if (level==data[val]['level'] && data[val]["status"]!='ban') {print = true;}
                }
            }
            if (print) {
    %>
            <div class="prototype krosmaster <%= title %> "><span class='circle <%= data[val]["color"] %>'><img src='img/krosmasters/lv<%= data[val]["level"] %>/<%=  title %>.png' alt='<%= data[val]["name"] %>' title='<%= data[val]["name"] %>'></span></div>
    <%
            styles += '.'+title+':hover::after {background-image:url("'+data[val]["img"]+'");}';
            }
        };
        $('#card_styles').append(styles);
    %>
</script>
<style id="card_styles">
</style>
</body>
</html>